#progressContainer {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "areaName areaName areaName areaName areaName"
        "idea     planning donePlan doing    done";
}

#doFirstTitle {
    grid-area: areaName;
    background-image: url(../images/sunny_opacity.png);
    background-size: contain;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding: 35px 0 0 0;
    cursor : pointer;
}

#doLaterTitle {
    grid-area: areaName;
    background-image: url(../images/rainbow_opacity.png);
    background-size: contain;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    cursor : pointer;
}

#delegateTitle {
    grid-area: areaName;
    background-image: url(../images/cloud_opacity.png);
    background-size: contain;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    cursor : pointer;
}

#eliminateTitle {
    grid-area: areaName;
    background-image: url(../images/rain_opacity.png);
    background-size: contain;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    cursor : pointer;
}

#ideaArea {
    color: #424242;
    grid-area: idea;
    font-weight: bold;
    font-family: Meiryo;
    background: #FF82B2;
    border-radius: 10px;
    padding: 5px;

    display: flex;
    flex-direction: column;  
}

#planningArea {
    color: #424242;
    grid-area: planning;
    font-weight: bold;
    font-family: Meiryo;
    background: #FFAD90;
    border-radius: 10px;
    padding: 5px;
}

#donePlanArea {
    color: #424242;
    grid-area: donePlan;
    font-weight: bold;
    font-family: Meiryo;
    background: #FFFF99;
    border-radius: 10px;
    padding: 5px;
}

#doingArea {
    color: #424242;
    grid-area: doing;
    font-weight: bold;
    font-family: Meiryo;
    background: #93FFAB;
    border-radius: 10px;
    padding: 5px;
}

#doneArea {
    color: #424242;
    grid-area: done;
    font-weight: bold;
    font-family: Meiryo;
    background: #99FFFF;
    border-radius: 10px;
    padding: 5px;
}

#taskLayout {
    color: #424242;
    display: table; /*バックグラウンドの領域を文字サイズに合わせる*/
    font-weight: bold;
    font-family: Meiryo;
    background: whitesmoke;
    border-radius: 10px;
    padding: 2px 2px 0px 5px;
    margin: 10px 0 0 0;
}

#arrow {
    cursor: pointer;
}

#dndSpace {
    min-height: 90%;
}