#progressContainer {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "areaName areaName areaName areaName areaName"
        "idea     planning donePlan doing    done";
}

#area0title {
    grid-area: areaName;
    background-image: url(../images/sunny_opacity.png);
    background-size: contain;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding: 35px 0 0 0;
    cursor : pointer;
}

#area1title {
    grid-area: areaName;
    background-image: url(../images/rainbow_opacity.png);
    background-size: contain;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    cursor : pointer;
}

#area2title {
    grid-area: areaName;
    background-image: url(../images/cloud_opacity.png);
    background-size: contain;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    cursor : pointer;
}

#area3title {
    grid-area: areaName;
    background-image: url(../images/rain_opacity.png);
    background-size: contain;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    cursor : pointer;
}

#idea {
    grid-area: idea;
    font-weight: bold;
    font-family: Meiryo;
    background: #FF82B2;
    border-radius: 10px;
    padding: 5px;
}

#planning {
    grid-area: planning;
    font-weight: bold;
    font-family: Meiryo;
    background: #FFAD90;
    border-radius: 10px;
    padding: 5px;
}

#donePlan {
    grid-area: donePlan;
    font-weight: bold;
    font-family: Meiryo;
    background: #FFFF99;
    border-radius: 10px;
    padding: 5px;
}

#doing {
    grid-area: doing;
    font-weight: bold;
    font-family: Meiryo;
    background: #93FFAB;
    border-radius: 10px;
    padding: 5px;
}

#done {
    grid-area: done;
    font-weight: bold;
    font-family: Meiryo;
    background: #99FFFF;
    border-radius: 10px;
    padding: 5px;
}

#taskLayout {
    display: table;
    font-weight: bold;
    font-family: Meiryo;
    background: whitesmoke;
    border-radius: 10px;
    padding: 2px 2px 0px 5px;
    margin: 10px;
}

#arrow {
    cursor: pointer;
}

#dndSpace {
    min-height: 90%;
}