#areaContainer {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "addTaskArea addTaskArea"
        "doFirstArea       doLaterArea"
        "delegateArea       eliminateArea";
}

#addTaskArea {
    grid-area: addTaskArea;
    background: #DCC2FF;
    border-radius: 10px;
    margin: 5px 5px 0px 5px;
    padding: 30px 50px 30px 50px;
}


#doFirstArea {
    grid-area: doFirstArea;
    background-image: url(../images/sunny_opacity.png);
    background-size: cover;
    border-radius: 10px;
    margin: 5px 0px 0px 5px;
    padding: 10px;
    font-family: Mairyo;
    font-weight: bold;
    cursor : pointer;
}

#doLaterArea {
    grid-area: doLaterArea;
    background-image: url(../images/rainbow_opacity.png);
    background-size: cover;
    border-radius: 10px;
    margin: 5px 5px 0px 5px;
    padding: 10px;
    font-family: Mairyo;
    font-weight: bold;
    cursor : pointer;
}

#delegateArea {
    grid-area: delegateArea;
    background-image: url(../images/cloud_opacity.png);
    background-size: cover;
    border-radius: 10px;
    margin: 5px 0px 5px 5px;
    padding: 10px;
    font-family: Mairyo;
    font-weight: bold;
    cursor : pointer;
}

#eliminateArea {
    grid-area: eliminateArea;
    background-image: url(../images/rain_opacity.png);
    background-size: cover;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    font-family: Mairyo;
    font-weight: bold;
    cursor : pointer;
}

#ideaTask {
    color: #424242;
    display: inline-block;
    background: #FF82B2;
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    margin: 10px 0 0 10px;
    cursor: default;
}

#planningTask {
    color: #424242;
    display: inline-block;
    background: #FFAD90;
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    margin: 10px 0 0 10px;
    cursor: default;
}

#donePlanTask {
    color: #424242;
    display: inline-block;
    background: #FFFF99;
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    margin: 10px 0 0 10px;
    cursor: default;
}

#doingTask {
    color: #424242;
    display: inline-block;
    background: #93FFAB;
    border-radius: 10px;
    padding: 5px 8px 5px 8px;
    margin: 10px 0 0 10px;
    cursor: default;
}

#doneTask {
    color: #424242;
    display: inline-block;
    background: #99FFFF;
    border-radius: 10px;
    padding: 2px 2px 0px 5px;
    margin: 10px 0 0 10px;
    cursor: default;
}

#areaName {
    font-weight: bold;
    font-family: Meiryo;
    color: #424242;
    background: white;
    padding: 7px 8px 5px 8px;
    margin: 3px;
    display: table;
    border-radius: 5px;
    cursor : pointer;
}

#appTitle {
    color: #424242;
    font-size: 170%;
    font-family: Meiryo;
    font-weight: bold;
    background: #DCC2FF;
    display: inline-block;
}

#appInfos {
    float: left;
}

#addTaskComponents {
    float: right;
    margin-top: 9px;
}

#ideaInfo {
    color: #424242;
    margin: 20px 10px 0 0;
    padding: 5px 8px 5px 8px;
    display: inline-block;
    font-family: Meiryo;
    font-weight: bold;
    background: #FF82B2;
    border-radius: 10px;
}

#planningInfo {
    color: #424242;
    margin: 20px 10px 0 0;
    padding: 5px 8px 5px 8px;
    display: inline-block;
    font-family: Meiryo;
    font-weight: bold;
    background: #FFAD90;
    border-radius: 10px;
}

#donePlanInfo {
    color: #424242;
    margin: 20px 10px 0 0;
    padding: 5px 8px 5px 8px;
    display: inline-block;
    font-family: Meiryo;
    font-weight: bold;
    background: #FFFF99;
    border-radius: 10px;
}

#doingInfo {
    color: #424242;
    margin: 20px 10px 0 0;
    padding: 5px 8px 5px 8px;
    display: inline-block;
    font-family: Meiryo;
    font-weight: bold;
    background: #93FFAB;
    border-radius: 10px;
}

#doneInfo {
    color: #424242;
    margin: 20px 10px 0 0;
    padding: 5px 8px 5px 8px;
    display: inline-block;
    font-family: Meiryo;
    font-weight: bold;
    background: #99FFFF;
    border-radius: 10px;
}

#dust {
    cursor: pointer;
}

input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #424242;
    font-size: 16px;
    font-family: Meiryo;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 15px;
}

button {
    border: 0;
    font-size: 20px;
    color: #424242;
    font-family: Meiryo;
    border-radius: 8px;
    padding-bottom: 1px;
    margin-left: 10px;
    text-decoration: none;
    transition: .2s;
}


#selectedAreaIcon {
    font-size: 25px;
    background: springgreen;
    border-radius: 4px;
    padding: 7px;
    cursor : pointer;
    margin-right: 15px;
    transition: .2s;
}

#nonSelectedAreaIcon {
    font-size: 25px;
    padding: 7px;
    cursor : pointer;
    margin-right: 15px;
    transition: .2s;
}
